body {
  font-family:'Segoe UI', sans-serif;
  background: #dbb2d8;
  padding: 20px;
}

#malla-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.semestre {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  background: #e9d6f2;
}

.semestre h2 {
  margin-top:0;
  font-size: 14px;
  color: #4a0072;
}

.ramo {
  margin: 5px 0;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  background-color: #d8b4e2;
  transition: transform 0.1s ease;
}

.ramo:hover {
  transform: scale(1.02);
}

.ramo.locked {
  background: #ddd;
  color: #999;
  cursor: not-allowed;
}

.ramo.available {
  background: #d8b4e2;
}

.ramo.approved {
  background: #a05cb7;
  color: white;
}

.ramo.corequisite {
  border: 2px dashed #7a2c91;
}


